body {
  margin: 40px auto;
}
.heading {
  margin-bottom: 40px;
}
.list-group-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-text {
  float: left;
  width: calc(100% - 80px);
}
span.complete {
  text-decoration: line-through;
}
